name: 04 - Using Actions

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
          run: 
            working-directory: 04-using-actions/react-app
        steps:
            - name: using the Checkout Action
              uses: actions/checkout@v4

            - name: Printing Folders
              run: |
                echo "The folder structure is: "
                ls -R 

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '20.x'


            - name: Install Dependencies
              # working-directory: 04-using-actions/react-app
              run: npm ci
  

            - name: Run Unit Tests
              # working-directory: 04-using-actions/react-app
              run: CI=true npm run test
                

