name: 05 - 2 - Event Filters and Activity Type

on: 
    pull_request:
        types:
            - closed
        branches:
            - main 

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Closed pull Request
              run: echo "Running whenever a PR is closed."