name: 18-2 -Reusable Workflows

on:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/18-1-reusable-workflows.yaml
    with:
      target-directory: dummy-dir

  e2e-tests:
    uses: prudhvi-yashwanth/github-actions-course-example-e2e/.github/workflows/e2e.yaml@main




  

